* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #60a1cf;
    --dark: #5d5c61;
    --black: #05383b;
    --light: #f3f3f3;
}

body {
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Times New Roman', Times, serif;
}

.stopwatch {
    background-color: var(--black);
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: 15rem auto;
    padding: 3rem 2rem;
    border-radius: 1rem;
}

.time {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls button {
    background-color: var(--primary);
    color: var(--light);
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;

    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
    transition: 0.35s ease all;
}

.controls button:hover {
    opacity: 0.7;
}